{% extends "blog/base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block add_static %}
<link rel="stylesheet" href="{% static 'blog/css/details.css' %}">
{% endblock add_static %}

{% block content %}
<div id="post">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="">
    {% endif %}
    <span>Price: {{ post.price }}$</span>
    <span>Published By: {{ post.publisher }}</span>
</div>
{% endblock content %}
