* {
  user-select: none;
  font-size: 18px;
}

:root {
  --button-bgcolor: #1e292c;
  --button-hover-bgcolor: #151c1e;
  --charcoal-color: #36494f;
  --charcoal-color-input: #697f7f;
  --error-color: #dc3545;
}

#superheader {
  font-size: 49px;
  text-align: center;
  margin: 55px 0px 50px 0px;
}

label {
  font-size: 20px;
  color: #fff;
}
button[type="submit"] {
  background-color: var(--button-bgcolor);
  border: none;
  padding: 6px 12px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 150ms linear;
  margin-top: 20px;
}
button[type="submit"]:hover {
  background-color: var(--button-hover-bgcolor);
}

form {
  background-color: var(--charcoal-color);
  width: 1158px;
  margin: 0 auto 20px auto;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: #fff;
}

textarea,
input {
  background-color: var(--charcoal-color-input);
  border: none;
  color: #fff;
  border-radius: 2px;
  resize: vertical;
  padding: 3px;
}
textarea:focus-visible,
input:focus-visible {
  outline: var(--button-hover-bgcolor) 2px solid;
}

textarea {
  width: 416.66px;
}
input[type="file"] {
  background-color: #00000000;
  text-align: center;
}
input[type="number"] {
  width: 85px;
}

.errors ul.errorlist {
  list-style-type: none;
  margin-top: 5px;
}
.errors ul.errorlist li {
  color: var(--error-color);
}
