* {
  user-select: none;
}

#superheader {
  font-size: 49px;
  text-align: center;
  margin: 55px 0px 50px 0px;
}

:root {
  --charcoal-color: #36494f;
  --button-bgcolor: #1e292c;
  --button-hover-bgcolor: #151c1e;
}

#posts {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-around;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 20px 45px;
  background-color: var(--charcoal-color);
  border-radius: 10px;
  margin-bottom: 35px;
  color: #fff;
  transition: box-shadow 600ms ease;
}
.post:hover {
  box-shadow: 13px 15px 22px #000;
}
.post h1 {
  margin-bottom: 10px;
}

.aButton {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: var(--button-bgcolor);
  border-radius: 5px;
  transition: background-color 150ms linear;
}
.aButton:hover {
  background-color: var(--button-hover-bgcolor);
}
